
#Contenedor{
    width: 900px;
    height: 1000px;
    background-color:rgb(230,200,149);
    max-width: 0 auto;  
}

#encabezado{
    height: 15%;
    background-color:rgb(230,200,149);
    margin: 1em auto;
    text-align:center;
        
   
}
#menu{
    height: 5%;
    background-color: rgb(171,161,134);
    padding: 2rem;
    margin: 2em;
    text-align: center;
    
    
    
}
#Contenido{
    height: 64%;
    width: 60%;
    background-color:rgb(151,158,54);
    padding: 2rem;
    margin: 0.5em;
    display: inline-block;
}


#fueraSeccion{
    height: 64%;
    width: 33%;

    background-color:rgb(190,193,79);
    padding: 2rem;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    
}
#pie{
    height: 0;
    max-width: 100%;
    background-color: rgb(230,200,149);
    margin: 2em;
    text-align: center;
}

/*Selector etiqueta*/
ul{
    text-align: center;
    
    
}
li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
a{
    color:rgb(192, 34, 34);
}

a:hover{color:rgb(209, 56, 87);}
h3{
    font-size: 1rem;
    text-align: left;
    color:black;
    text-transform: uppercase;
    
}
img{
    max-height:100px;
    max-width:100px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
   
    display: inline-flexbox;
    

}

.encabezado_articulo{
    text-align: center;
    background:rgb(116, 156, 90);
    color: rgb(241, 72, 20);
    margin: auto 2em;
}
.encabezado{
    text-align: left;
    
    color:blanchedalmond;
    margin: auto 2em;
}
.menu{
    height: 5%;
    margin: 1em auto;
}
.menu_flo{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin: 1em auto;
    clear: right;
    
}

html{
    
    box-sizing: border-box;
    scroll-snap-type:mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}
*{
    padding: 0;
    margin: 0;
}